automation/n8n/1_corpus_refresh.json
{
  "name": "SEBI RAG - Corpus Refresh (weekly)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * 0"
            }
          ]
        }
      },
      "id": "trigger-refresh",
      "name": "Weekly Sun 02:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8765/refresh",
        "options": {
          "timeout": 1800000
        }
      },
      "id": "run-refresh",
      "name": "POST /refresh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const m=$input.first().json;if(!m||m.error){return [{json:{title:'SEBI RAG refresh FAILED',message:'refresh error '+(m&&m.error?m.error:'no data')}}];}const bad=[];if(m.recall_at_10<0.97)bad.push('recall');if(m.citation_recall<0.85)bad.push('cit_recall');if(m.abstention_accuracy<0.82)bad.push('abstention');if(m.injection_flagged>1)bad.push('injection_flags');const status=bad.length?'ALERT':'OK';const msg='corpus '+m.circulars+' circulars '+m.chunks+' chunks; recall '+m.recall_at_10+' cit_prec '+m.citation_precision+' cit_recall '+m.citation_recall+' abst '+m.abstention_accuracy+' inj '+m.injection_flagged+(bad.length?'; REGRESSION '+bad.join(','):'');return [{json:{title:'SEBI RAG refresh '+status,message:msg}}];"
      },
      "id": "parse-refresh",
      "name": "Parse metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8765/notify",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-refresh",
      "name": "Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        300
      ]
    }
  ],
  "connections": {
    "Weekly Sun 02:00": {
      "main": [
        [
          {
            "node": "POST /refresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /refresh": {
      "main": [
        [
          {
            "node": "Parse metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse metrics": {
      "main": [
        [
          {
            "node": "Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}